<p>「心が弱った時のひと言」にようこそ</p>
<p>今はどんな気分でいらっしゃいますか？</p>

<div>
  <%= link_to "疲れた", "/proverbs/tired" %>
</div>
<div>
  <%= link_to "悲しい", "/proverbs/sad" %>
</div>
<div>
  <%= link_to "落ち込んでる", "/proverbs/depress" %>
</div>
<div>
  <%= link_to "自信がない", "/proverbs/anxious" %>
</div>
<div>
  <%= link_to "喝を入れたい", "/proverbs/up" %>
</div>